* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  column-gap: 30px;
  margin-left: 160px;
}
.field > .label {
  font-size: xx-large;
  color: blue;
}

.field {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 40px;
  color: crimson;
  font-weight: 700;
}

.value {
  font-size: xxx-large;
}

#datetime-picker {
  box-sizing: border-box;
  border-radius: 10px;
  font-size: xx-large;
  font-weight: bold;
  color: green;

  margin-left: 150px;
}

button {
  font-size: xx-large;
  border-radius: 7px;
  margin-left: 12px;
}

label {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  margin-right: 20px;
}

.form button {
  background-color: blue;
  color: yellow;
}

.form button:focus {
  color: blue;
  background-color: yellow;
}
